.control-panel {
  display: flex;

  &__underline {
    text-align: center;
  }
}

.control {
  cursor: pointer;
  position: relative;
  padding-bottom: 20px;
  width: 72px;

  &:last-child {
    margin-bottom: 0;
  }

  &__icon {
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      cursor: pointer;
      position: absolute;
      height: 50px;
      width: 100%;
      text-align: center;
      color: white;

    &:hover {
      transform: translateY(-3px) scale(0.98);
    }
  }

  &__text {
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    color: white;
  }
}
