.control-panel {
  width: 100px;
  float: left;
}

.control {
  cursor: pointer;
  position: relative;
  padding-bottom: 20px;

  &:first-child {
    margin-top: 35px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__icon {
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      cursor: pointer;
      position: absolute;
      height: 50px;
      top: -36px;
      width: 72px;
      padding-left: 37px;

    &:hover {
      transform: translateY(-3px) scale(0.98);
    }
  }

  &__text {
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
  }
}
