.folder {
  &_active {
    background-color: rgba(0, 41, 255, 0.42);
    color: white;
  }

  &__icon {
      color: black;
      cursor:pointer;
  }

  &__name {
    margin-left: 5px;
    cursor: pointer;
  }
}
