.note {
  width: 72px;
  height: 100px;
  float: left;
  padding: 10px;
  position: relative;
  margin-right: 15px;
  cursor: pointer;

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  &__icon-wrapper {
    position: relative;
  }

  &__item {
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      cursor: pointer;
      position: absolute;
      bottom: 0px;
      height: 68px;
      width: 68px;

    &:hover {
      transform: translateY(-3px) scale(0.98);
    }
  }

  &__text {
    cursor: pointer;
    margin-top: 50px;
  }
}
