$primary-color: rgb(0, 188, 212);
$secondary-color: rgb(255, 64, 129);

$color-black: rgba(0, 0, 0, 0.8);

$color-grey: rgba(0, 0, 0, 0.3);
$color-grey-darker: rgba(0, 0, 0, 0.4);

$color-note-yellow: #fff9c4;