node_modules
.idea
dist
npm-debug.log
coverage
exampleapp/db.sqlite3
exampleapp/dinosaurs/__init__.pyc
exampleapp/dinosaurs/admin.pyc
exampleapp/dinosaurs/apps.pyc
exampleapp/dinosaurs/migrations/0001_initial.pyc
exampleapp/dinosaurs/migrations/0002_user.pyc
exampleapp/dinosaurs/migrations/0003_auto_20170701_0819.pyc
exampleapp/dinosaurs/migrations/0004_folder_note.pyc
exampleapp/dinosaurs/migrations/0005_auto_20170731_1045.pyc
exampleapp/dinosaurs/migrations/0006_auto_20170731_1134.pyc
exampleapp/dinosaurs/migrations/0007_note_folder.pyc
exampleapp/dinosaurs/migrations/0008_auto_20171009_1939.pyc
exampleapp/dinosaurs/migrations/__init__.pyc
exampleapp/dinosaurs/models.pyc
exampleapp/dinosaurs/serializers.pyc
exampleapp/dinosaurs/views.pyc
exampleapp/exampleapp/__init__.pyc
exampleapp/exampleapp/settings.pyc
exampleapp/exampleapp/urls.pyc
exampleapp/exampleapp/wsgi.pyc

